
:root{
  --primaryColor:#482ff7;
  --secondaryColor:#2d6cdf;
  --accentColor:#46c3db;
  --rareColor:#f3f169;
  --lightDark:#1a2738;
  --darkMode:#071e3d;
  --lightMode:#e2f3f5;

}

.primary , .primary-bg{background-color: var(--primaryColor) !important;}
.secondary , .secondary-bg{background-color: var(--primaryColor) !important;}
.tertiary{background-color: var(--accentColor) !important;}
.darkMode{background-color: var(--darkMode) !important;}
.lightMode{background-color: var(--lightMode) !important;}
.rare{background-color: var(--rareColor) !important;}
.lightDark{background-color: var(--lightDark) !important;}
.primary-text {color: var(--primaryColor) !important;}
 .secondary-text{color: var(--secondaryColor) !important;}
.tertiary-text{color: var(--accentColor) !important;}
.darkMode-text{color: var(--darkMode) !important;}
.rare-text{color: var(--rareColor) !important;}
.lightDark-text{color: var(--lightDark) !important;}

.border-primary{border: 1px solid var(--primaryColor) !important;}
.border-secondary{border: 1px solid var(--secondaryColor) !important;}
.border-tertiary{border: 1px solid var(--accentColor) !important;}
.border-lightDark{border: 1px solid var(--lightDark) !important;}
.border-darkMode{border: 1px solid var(--darkMode) !important;}
.bg-1{background-color:#f0ebe5 !important}
.bg-2{background-color:#f9f7f7 !important}
.hero{
  background-image: url('/img/bg.jpg');
  min-height:100vh;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;

 
}
.subHero{
  background-image: url('/img/bg.jpg');
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  min-height:400px;
  height:fit-content;
 
}

*{font-size:14px}.text-small{font-size: 13px;}
.padding-5{padding: 5px;}

.darken-5{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding: 50px 0px;
}

.m-section{
padding: 50px 0px;
}
.navContainer{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding:0px 10%;
  z-index: 10;
}
.navigation-bar a{
  margin:0px 5px;
  transform:0.3s linear;
    border-bottom:2px solid transparent;
}
.navigation-bar a:hover{
  border-bottom:2px solid white;
}
.central{
    display:flex;
  align-items:center;
  justify-content:center;
}
.bookBtn{
background:transparent;
padding:10px 15px;
  border:2px solid #fff;
  color:white;
  margin:20px 0px;
}

.h-middle , .row-flex{
      display:flex;
  align-items:center;

}

.sideBar{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  /* background-color:rgba(0,0,0,0.2); */
  height:100vh;
  margin-left:-100%;
  transition:0.3s linear;
}
.sideBarContent{
  background-color: var(--darkMode);
  height:100vh;
}

.mainContent{
  position: relative;
  background-color: #f1f1f1;
 
}
.rightContent{
  position: absolute;
  top: 60px;
  right: 0;
  width: 400px;
  padding: 20px 10px;
  background-color: #f1f1f1;
}
.leftContent{
  position: absolute;
  top: 60px;
  left: 0;
  width: calc(100% - 400px);
  padding: 20px 5%;
  background-color: #f1f1f1;
}


.page{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	height: 100%;
	margin: auto;
	padding-top: 10px;
	width: 600px;
	box-shadow: 0 0 100px rgba(0,0,0,0.2);
	max-width: 100%;
  padding: 10px 20px;
	background: white;
}

